body {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  padding: 0rem 1rem;
  line-height: 1.75;
  font-size: 1rem;
}

label {
  display: block;
}

input {
  margin-top: 5px;
}